<div class="container">
    <h2>Add Exercise</h2>
    <label for="newName">Name:</label>
    <input class="input-field" type="text" id="newName" [(ngModel)]="exerciseResponse.name">
    <label for="newTime">Time:</label>
    <input class="input-field" type="number" id="newTime" [(ngModel)]="exerciseResponse.time">
    <label for="newType">Type:</label>
    <select class="input-field" id="newType" [(ngModel)]="exerciseResponse.type">
      <option *ngFor="let type of exerciseTypes" [ngValue]="type">{{ type }}</option>
    </select>
    <button class="add-button" (click)="addExercise()">Add</button>
  </div>
  
  <div class="container">
    <h2>Search Exercise</h2>
    <label for="searchId">ID:</label>
    <input class="input-field" type="number" id="searchId" [(ngModel)]="searchId">
    <button class="search-button" (click)="searchExercise()">Search</button>
  </div>
  
  <div *ngIf="exercise" class="container">
    <h2>Exercise info</h2>
    <p>ID: {{ exercise.id }}</p>
    <p>Name: {{ exercise.name }}</p>
    <p>Time: {{ exercise.time }}</p>
    <p>Type: {{ exercise.type }}</p>
    <button class="delete-button" (click)="deleteExercise(searchId)">Delete</button>
  </div>
  