<div class="container">
  <h2>Add Exercise</h2>
  <label for="newName">Name:</label>
  <input class="input-field" type="text" id="newName" [(ngModel)]="exerciseResponse.name">
  <button class="add-button" (click)="addExercise()">Add</button>
</div>

<div class="container">
  <h2 class="exercise-heading">All Exercises</h2> <!-- Dodany styl dla tytułu -->
  <div *ngFor="let exercise of exercises" class="exercise-item"> <!-- Dodany styl dla elementów -->
    <p *ngIf="!editMode || exercise.id !== editedExerciseId">Name: {{ exercise.name }}</p>
    <input *ngIf="editMode && exercise.id === editedExerciseId" [(ngModel)]="exercise.name">
    
    <button *ngIf="!editMode || exercise.id !== editedExerciseId" class="edit-button" (click)="startEdit(exercise.id)">Edit</button>
    <button *ngIf="editMode && exercise.id === editedExerciseId" class="update-button" (click)="updateExercise(exercise.id, exercise)">Update</button>
    <span class="button-space"></span>
    <button class="delete-button" (click)="deleteExercise(exercise.id)">Delete</button>
    <button *ngIf="editMode && exercise.id === editedExerciseId" class="cancel-button" (click)="finishEdit()">Cancel</button>
  </div>
</div>
