
div {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="number"],
input[type="text"],
select.input-field {
    width: 100%;
    padding: 1px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
  select.input-field {
    appearance: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 16px;
  }
  .button-space {
    margin-right: 10px;
  }
  .muscle-part-heading {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .muscle-part-item {
    margin-bottom: 10px;
  }
  
  